{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <img src="{{ asset("images/logo.png") }}" class="card-img-top" alt="recipe logo">
                <div class="card-body bg-light">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong>Holy guacamole!</strong> 
                          <br>
                          {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form action="{{ path('app_login') }}" method="post">
                        <label class="form-label" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>

                        <label class="form-label" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password" required>
                        <input type="hidden" name="_target_path" value="{{ path('homepage')}}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-primary my-4 w-100"type="submit">Sign In</button>
                    </form>
                    <p>Don't have an account? <a href="{{path("app_register")}}">Register here</a></p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
