{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block title %}- Categories{% endblock %}

{% block content %}
    <div class="container">
        {% include 'partial/listHeader.html.twig' with { 
            'header': 'Categories',
            'pathName': 'category_list',
            'field': 'c.name',
            'fieldName': 'Name'
        } %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
            {% for category in pagination %}
            <div class="col">
                <div class="card m-3 p-3 shadow">
                    <h5 class="card-title text-center p-2">{{ category.name }}</h5>
                  <img src="{{ category.thumb }}" class="card-img-top" alt="{{
                  category.name }}">
                  <div class="card-body pb-0">
                    <div class="my-2 text-center"> 
                        <a href="{{ path('category_show', { id: category.id }) }}" class="btn btn-dark w-100">🔍 Details</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% include 'partial/pagination.html.twig' with { 'pagination': pagination } %}
    </div>
{% endblock %}

