<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.svg') }}">
            <title>Recipe App - {% block title %}{% endblock %}</title>

            {% block stylesheets %}

            {% endblock %}

            {% block javascripts %}
                {% block importmap %}{{ importmap('app') }}{% endblock %}
            {% endblock %}
        {% endblock  %}
    </head>
    <body class="bg-light">
        <header class="mb-4">
            <div class="container my-3">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded
                mt-1 shadow-lg">
                    <div class="container mx-auto">
                        <a class="navbar-brand" href="{{ path('recipe_list') }}">
                        <img src="{{ asset('images/favicon.svg') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        {{"Recipes App"|upper}}
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            {% include 'partial/menu.html.twig' %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main id="content" class="container-fluid">
            <div class="container">
                {% include 'partial/flashes.html.twig' %}
            </div>

            {% block content %}{% endblock %}
        </main>

        <footer class="container-fluid text-center">
            {% include 'partial/footer.html.twig' %}
        </footer>
    </body>
</html>
